- name: Clone repository
  git:
    repo: 'https://github.com/omiete01/theepicbook.git'
    dest: /home/ubuntu/theepicbook
    version: main
    force: yes
    update: yes

- name: Install Node.js Dependencies
  community.general.npm: 
    path: /home/ubuntu/theepicbook
    state: present

- name: Update configuration file for theepicbook app
  template:
    src: config.json.j2
    dest: /home/ubuntu/theepicbook/config/config.json
    mode: '0644'