- name: Update apt cache
  apt:
    update_cache: yes

- name: Upgrade all packages to the latest version
  apt:
    upgrade: dist

- name: Install git
  apt:
    name: git
    state: present

- name: Clone NVM repository
  ansible.builtin.git:
    repo: 'https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh'
    dest: "{{ nvm_dir }}"
    version: master 
    update: no

- name: Source NVM and install Node.js
  ansible.builtin.shell: |
    source "{{ nvm_dir }}/nvm.sh"
    nvm install {{ nodejs_version }}
    nvm alias default {{ nodejs_version }}
  args:
    executable: /bin/bash # Ensure bash is used for sourcing nvm.sh
  changed_when: false

- name: Install Node.js
  apt:
    name: nodejs
    state: present

- name: Install npm
  apt:
    name: npm
    state: present
