- name: Clone repository
  git:
    repo: 'https://github.com/omiete01/theepicbook.git'
    dest: "/home/{{ vm_user }}/theepicbook"
    version: main
    force: yes
    # accept_hostkey: yes
    update: yes

- name: Install Node.js Dependencies
  community.general.npm: 
    path: "/home/{{ vm_user }}/theepicbook"
    state: present

- name: Update configuration file for theepicbook app
  template:
    src: config.json.j2
    dest: "/home/{{ vm_user }}/theepicbook/config/config.json"
    mode: '0644'